
.search-form {
    text-align: center;   
}

.search-input {
    padding-left: 26px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

/*.img-rounded {
    max-height: 25px;
    min-width: 25px;
}*/

/*
.search-input{
     content:'';
    display: inline-block;
    width: 14px;
    height: 14px;
    
    position: absolute;
    top:8px;
    left:8px;
    z-index: 1000;
}
*/

.item-list-header {
    list-style: none;   
}
.item-list-header > li {
    display: inline-block;
}

.item-list {
    list-style: none;   
    padding: 0;
}

.item-list > li:not(:first-child) {
    border-top: 1px solid #E3E3E3;   
}

.item-container {
/*    border: 1px solid #999;*/
/*    border-radius: 3px;*/
    background-color: #eee;
    display:inline-block;
    width:100%;
    padding: 15px;
    height: 80px;
}

.item-picture, .item-timer, .item-description, .item-checkoff {
    vertical-align: middle;
    width: 24%;
}

.item-checkoff {
    text-align: center;   
}
.item-picture > img {
    height: 100%;
}