@media (min-width: 768px) {
  .navbar-form .input-group-btn,
  .navbar-form .input-group-addon {
    width: auto;
  }
}

body { 
    padding-top: 70px; 
}

.floating-add-button {
    position: fixed;
    right: 10%;
    bottom: 5%;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    box-shadow: grey 0px 0px 7px;
}

.list-categories-header {
    margin-bottom: 50px;
}
.row {
 margin-bottom: 50px;   
}
.navbar-location {
    
}

.search-form {
    text-align: center;   
}

#search {
    margin-top: 7px;
    width:100%;
}

.search-input {
    text-align: center;
}

.create-new-item {
    text-align: right;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.table > tbody > tr:last-child {
    margin-bottom: 200px;
}
.th {
    border-top: 0px;   
}

#complete-list {
    margin-bottom: 200px;
}

/*
.search-input{
     content:'';
    display: inline-block;
    width: 14px;
    height: 14px;
    
    position: absolute;
    top:8px;
    left:8px;
    z-index: 1000;
}
*/

.item-list-header {
    list-style: none;   
}
.item-list-header > li {
    display: inline-block;
}

.item-list {
    list-style: none;   
    padding: 0;
}

.item-list > li:not(:first-child) {
    border-top: 1px solid #E3E3E3;   
}

.item-container {
/*    border: 1px solid #999;*/
/*    border-radius: 3px;*/
    background-color: #eee;
    display:inline-block;
    width:100%;
    padding: 15px;
    height: 80px;
}

.item-picture, .item-timer, .item-name, .item-checkoff {
    vertical-align: middle;
    width: 33%;
}

.item-checkoff {
    text-align: center;   
}
.item-picture > img {
    height: 64px;
}

.item-description {
    font-size:1.5em;
}

.item-name {
    font-size:1.2em;
}

.item-timer {
    text-align:center;
}
.item-timer > input{
    text-align:center;
    width: 50px;
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
}