@media (min-width: 768px) {
    .navbar-form .input-group-btn,
    .navbar-form .input-group-addon {
        width: auto;
    }
}

body {
    padding-top: 70px;
}

.floating-add-button {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    box-shadow: grey 0px 0px 7px;
}


.list-categories-header {
    margin-bottom: 50px;
}

.row {
    margin-bottom: 50px;
}

.navbar-location {

}

.search-form {
    text-align: center;
}

#search {
    margin-top: 7px;
    width: 100%;
}

.search-input {
    text-align: center;
}

.container > h3 {
    display: inline-block;
}

.guided-tour-button {
    float:right;
}

.create-new-item {
    text-align: right;
}

.table > tbody > tr > td {
    vertical-align: middle;
    line-height:4em;
}

.table > tbody > tr:last-child {
    margin-bottom: 200px;
}

.th {
    border-top: 0px;
}

.new-item {
    background-color: #F1F8E9;
}

#complete-list {
    margin-bottom: 200px;
}

.table-bottom {
    margin-bottom:100px;
}
/*
.search-input{
     content:'';
    display: inline-block;
    width: 14px;
    height: 14px;
    
    position: absolute;
    top:8px;
    left:8px;
    z-index: 1000;
}
*/

.item-list-header {
    list-style: none;
}

.item-list-header > li {
    display: inline-block;
}

.item-list {
    list-style: none;
    padding: 0;
}

.item-list > li:not(:first-child) {
    border-top: 1px solid #E3E3E3;
}

.item-container {
    /*    border: 1px solid #999;*/
    /*    border-radius: 3px;*/
    background-color: #eee;
    display: inline-block;
    width: 100%;
    padding: 15px;
    height: 80px;
}

.item-picture, .item-timer, .item-name, .item-checkoff {
    vertical-align: middle;
}

.item-checkoff {
    text-align:right;
}

.item-checkoff > button {
    line-height: 1em;
}

.item-picture: {
    width: 50px;
}
.item-picture > img {
    height: 32px;
}

.item-picture > span.glyphicon {
    font-size: 32px;
}

.item-name {
    font-size: 1.5em;
}

.item-name {
    font-size: 1.2em;
}

.item-timer {
    text-align: center;
}

.item-timer > input {
    text-align: center;
    width: 50px;
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
}

.search_modal {
    display: table;
    width: 100%;
    border: none;
    padding-bottom: 0;
}
.search_modal .cell {
    display: table-cell;
}
.search_modal .cell input {
    width: 100%;
}
.search_modal .cell button {
    font-size: 34px;
}
.search_modal .cell-right {
    width: 34px;
}
