.centered-jumbotron {
    margin-top: 50px;
}

.fontblue {
    color: #3F51B5;
}

body {
    background-size: cover;
    background: url('/static/img/main_background.jpg') no-repeat fixed center center;
}

.transparent-background {
    background-color: rgba(255, 255, 255, 0.75);
}

/** on demo_home page */
table.link-list td {
    font-size: 1.5em;
    padding: 10px 5px;
}