@media (min-width: 768px) {
    .navbar-form .input-group-btn,
    .navbar-form .input-group-addon {
        width: auto;
    }
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

body {
    padding-top: 70px;
}


/*
 * NAVBAR
 */
.navbar a {
    color: black;
    text-decoration: none;
}

#home-icon {
    position: absolute;
    font-size: 19px;
    left: 8px;
    top: 14px;
}
.navbar div.container-fluid {
    margin-left: 22px;
}

.search-form {
    text-align: center;
}

#search {
    margin-top: 7px;
    width: 100%;
}

.search-input {
    text-align: center;
}

.floating-add-button {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    box-shadow: grey 0px 0px 7px;
}


.list-categories-header {
    margin-bottom: 50px;
}

.row {
    margin-bottom: 50px;
}

.container > h3 {
    display: inline-block;
}

.guided-tour-button {
    float:right;
}

.create-new-item {
    text-align: right;
}

.table {
    table-layout: fixed;
}

.table > tbody > tr > td {
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

.table > tbody > tr:last-child {
    margin-bottom: 200px;
}

.th {
    border-top: 0;
}

tr:hover {
    background-color: #fbfbfb;
}

.new-item {
    background-color: #F1F8E9;
}

#complete-list {
    margin-bottom: 200px;
}

.table-bottom {
    margin-bottom:100px;
}
/*
.search-input{
     content:'';
    display: inline-block;
    width: 14px;
    height: 14px;
    
    position: absolute;
    top:8px;
    left:8px;
    z-index: 1000;
}
*/

.item-list-header {
    list-style: none;
}

.item-list-header > li {
    display: inline-block;
}

.item-list {
    list-style: none;
    padding: 0;
}

.item-list > li:not(:first-child) {
    border-top: 1px solid #E3E3E3;
}

.item-container {
    /*    border: 1px solid #999;*/
    /*    border-radius: 3px;*/
    background-color: #eee;
    display: inline-block;
    width: 100%;
    padding: 15px;
    height: 80px;
}

.item-picture, .item-timer, .item-name-desc, .item-checkoff {
    vertical-align: middle;
}

.item-checkoff {
    text-align:right;
    width: 50px; /* fixed width needed so that the item-name-desc column stretches to full width */
}

.item-checkoff > button {
    line-height: 1em;
}

.item-picture {
    width: 50px;
}
.item-picture > img {
    height: 32px;
}

.item-picture > span.glyphicon {
    font-size: 32px;
}

.item-name {
    font-size: 1.2em;
    white-space: nowrap;
}

.counting-div {
    position: absolute;
    right: 20px;
    bottom: 0;
    color: #cccccc;
}

#textarea-input {
    resize: vertical;
}

.chop {
    /* chopping */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-hidden {
    display: none;
}

.item-timer {
    text-align: center;
}

.item-timer > input {
    text-align: center;
    width: 50px;
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
}

.search_modal {
    display: table;
    width: 100%;
    border: none;
    padding-bottom: 10px;
}
.search_modal .cell {
    display: table-cell;
}
.search_modal .cell input {
    width: 100%;
}
.search_modal .cell button {
    font-size: 34px;
}
.search_modal .cell-right {
    width: 34px;
}

.fixed-size {
    min-width: 100px;
    min-height: 33px;
}

.register-form {
    display: inline-block;
    width:100%;
}

/* center loading gif */
img.loading-animation {
    display: block;
    margin: 0 auto;
}
.btn > img.loading-animation {
    width: 1em;
    height: 1em;
}

#unterkunft-title{
    font-weight: bold;
}

.print-button {
    margin-top: 2em;
}

.print-area{
    border: 1px solid rgb(206, 206, 206);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

#print-qr-code {
    margin-top: 6em;
    margin-bottom: 1em;
}

#unterkunft-link{
    background-color: #dbdbdb;
    display: inline-block;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 15px;
    font-size: 2em;
}

.print-important {
    font-weight:bold;
    line-height: 2em;
}

@media print {
    a:link:after,
    a:visited:after {
        content: "" !important;
    }

    .dont-print{
        display: none !important;
    }

    body {
        padding-top: 0 !important;
    }

    .print-area {
        border: none;
        box-shadow: none;
    }
}

