div.registration_field {
    position: absolute;
    top: 10%;
    max-width: 60%;
    left: 20%;
}

label.field {
    text-align: right;
}

label span, .required {
    color: red;
    font-weight: bold;

}

input.btn {
    float: right;
}

a.email {
    color: #092fb8;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px;
}