{% extends 'simple_jumbotron.html.twig' %}

{% block title %}404{% endblock %}


{% block headline %}404 page{% endblock %}

{% block content %}
    <p>Page not found: <pre>{{ request_uri }}</pre><br>
        <b>-> TODO: more info</b></p>
{% endblock %}