{% extends 'simple_jumbotron.html.twig' %}

{% block title %}404{% endblock %}


{% block headline %}404 page{% endblock %}

{% block content %}
    <p>Page not found: <br></p>

    <div class="container">
        <pre style="margin-bottom: 0px">{{ request_uri }}</pre>
        <img src="/static/img/404.png" width="100%" />
    </div>
{% endblock %}