<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

    <!-- Custom Theme -->
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">

    <!-- Optional theme -->
    <!--    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">TazDingoOG</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <form class="navbar-form search-form" role="search">
                <div class="form-group">
                    <input type="text" class="form-control search-input" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Hinzuf&uuml;gen</button>
            </form>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <h1>Berlin</h1>
        </div>
        <div class="row">
            <ul class="item-list-header">
            <li>Bild</li>
            <li>Name</li>
            <li>G&uuml;ltigkeit</li>
            <li>Entfernen</li>

            </ul>
            
            <ul class="item-list">
                <li>
                    <div class="item-container container-fluid">
                        <div class="item-picture">
                            <img src="../static/img/t-shirt.png" class="img-rounded">
                        </div>
                        <div class="item-description">Lorem Ipsum</div>
                        <div class="item-timer">24 Stunden</div>

                        <div class="item-checkoff">
                            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="item-container container-fluid">
                        <div class="item-picture">
                            <img src="../static/img/t-shirt.png" class="img-rounded">
                        </div>
                        <div class="item-description">Lorem Ipsum</div>
                        <div class="item-timer">24 Stunden</div>
                        <div class="item-checkoff">
                            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-container container-fluid">
                        <div class="item-picture">
                            <img src="../static/img/t-shirt.png" class="img-rounded">
                        </div>
                        <div class="item-description">Lorem Ipsum</div>
                        <div class="item-timer">24 Stunden</div>
                        <div class="item-checkoff">
                            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="item-container container-fluid">
                        <div class="item-picture">
                            <img src="../static/img/t-shirt.png" class="img-rounded">
                        </div>
                        <div class="item-description">Lorem Ipsum</div>
                        <div class="item-timer">24 Stunden</div>
                        <div class="item-checkoff">
                            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>