{% extends 'simple_jumbotron.html.twig' %}

{% block title %}TheOneThatWorks{% endblock %}

{% block stylesheets %} {# add script to head #}
    {{ parent() }}
    <link rel="stylesheet" href="/static/css/main-web.css">
{% endblock %}

{% block headline %}
    Welcome bei Inventirio
{% endblock %}

{% block content %}
    <h3 class="fontblue">
        Einfach benutzbare App für Helfer
    </h3>
    <h3>Gehe zu Beispielliste: <a href="/a/besser-wisser-martin">hier</a></h3>
    <br>


    <div>
        <!-- HTML for SEARCH BAR -->
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Suche nach Flüchtlingsunterkunft"
                   aria-label="...">

            <div class="input-group-btn">
                <button type="button" class="btn btn-default" aria-label="Right Align">
                    <span class="" aria-hidden="true">Los!</span>
                </button>
            </div>
        </div>
    </div>
    <br>

    <!--
        schicke request an server mit Namen des noch nicht eingerichteten Flüchtlingsheims
        und bekomme pdf mit QR- code und URL zum Ausdrucken und Aufhängenzurück
    -->
    <div>
        <div class="center">
            <h3>Ist Deine Flüchtlingsunterkunft nicht in der <a href="TODO"> Liste</a>?</h3>
            <a href="/register">
                <button class="btn btn-success btn-lg">
                    <b>Registrieren</b>
                </button>
            </a>
        </div>
    </div>

{% endblock %}