{% extends 'simple_jumbotron.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %} {# add script to head #}
    {{ parent() }}
{% endblock %}

{% block headline %}
    <div class="fontblue">Willkommen bei Inventeerio</div>
{% endblock %}

{% block content %}
    <h3 class="fontblue">
        Eine simple App für Helfer
    </h3>
    <br>

    {# TODO: implement accommodation search
     <div>
        <!-- HTML for SEARCH BAR -->
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Suche nach Flüchtlingsunterkunft"
                   aria-label="..." disabled="disabled">

            <div class="input-group-btn">
                <button type="button" class="btn btn-default" aria-label="Right Align">
                    <span class="" aria-hidden="true">Los!</span>
                </button>
            </div>
        </div>
    </div> #}

    <table class="table table-hover link-list">
        <tbody>
        <tr class="small">
            <td>Beispielliste für Helfer:</td>
            <td><a href="/a/demo-token">hier klicken</a></td>
        </tr>
        <tr class="small">
            <td>Beispielliste (read-only):</td>
            <td><a href="/unterkunft/demo-unterkunft">hier klicken</a></td>
        </tr>
        <tr class="small">
            <td>Liste der Unterk&uuml;nfte:</td>
            <td><a href="/liste">hier klicken</a></td>
        </tr>
        <tr>
            <td>Neue Unterkunft:</td>
            <td>
                <a href="/register">
                    <button class="btn btn-success btn-lg">
                        <b>Registrieren</b>
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}