{% extends 'base.html.twig' %}

{% block title %}Accommodation XY{% endblock %}

{% block stylesheets %} {# add script to head #}
    <!-- Custom Theme -->
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
{% endblock %}

{% block scripts_bottom %}
    <script type="text/javascript">
        // some information from php to JS about the current page
        var clean_acom_name = '{{ clean_acom_name }}';
    </script>
    <!-- custom javascript -->
    <script type="text/javascript" src="/static/js/live-search.js"></script>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#search_modal').focus();
        })
    </script>

    <!-- tooltip script -->
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}


{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->


            <input type="text" class="form-control search-input" placeholder="Suche nach Gegenst&auml;nden"
                   id="search"/>


            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Floating button for creating new items -->
    <button class="btn-primary floating-add-button"
            title="Erstelle einen neuen Gegenstand!" data-toggle="modal"
            data-target="#myModal" id="floating_button"><span class="glyphicon glyphicon-plus"></span></button>
    <div class="container">
        <h3>Ort: Berlin</h3>
        <table class="table" id="table1">
            <tr>
                <td class="item-picture">
                    <img src="../static/img/t-shirt.png" class="img-rounded">
                </td>
                <td class="item-description">T-Shirt</td>
                <!-- <td class="item-timer table-content"><button  class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span></button><input type="text" class="form-control" value="24"></input><button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button> Tage</td> -->

                <td class="item-checkoff table-content">
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="item-picture table-content">
                    <img src="../static/img/t-shirt.png" class="img-rounded">
                </td>
                <td class="item-description table-content">Pullover</td>
                <!--  <td class="item-timer table-content"><button  class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span></button><input type="text" class="form-control" value="24"></input><button  class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button> Tage</td> -->
                <td class="item-checkoff table-content">
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="item-picture table-content">
                    <img src="../static/img/t-shirt.png" class="img-rounded">
                </td>
                <td class="item-description table-content">Jacke</td>
                <!-- <td class="item-timer table-content"><button  class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span></button><input type="text" class="form-control" value="24"></input><button  class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button> Tage</td> -->
                <td class="item-checkoff table-content">
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="item-picture table-content">
                    <img src="../static/img/t-shirt.png" class="img-rounded">
                </td>
                <td class="item-description table-content">Hemd</td>
                <!--   <td class="item-timer table-content"><button  class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span></button><input type="text" class="form-control" value="24"></input><button  class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button> Tage</td> -->
                <td class="item-checkoff table-content">
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </table>


        <!-- Model for adding items to the request list -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="form-group">
                            <input type="text" class="form-control search-input"
                                   placeholder="Neuen Gegenstand zur Bedarfsliste hinzuf&uuml;gen"
                                   id="search_modal"/>
                        </div>
                    </div>
                    <div class="modal-body">
                        <table class="table" id="table_modal">
                            <tr>
                                <td class="item-picture">
                                    <img src="/static/img/t-shirt.png" class="img-rounded">
                                </td>
                                <td class="item-description">Hose</td>
                                <!-- <td class="item-timer"><button  class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span></button><input type="text" class="form-control" value="24"></input><button  class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button> Tage</td> -->

                                <td class="item-checkoff">
                                    <button type="button" class="btn btn-success" data-desc="Hose hinzuf&uuml;gen"
                                            value="1">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
