<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Tazdingo - Registration Formular</title>
  <meta name="description" content="Tazdingo">
  <meta name="author" content="TazDingo">
  <script src="../static/js/registration_formular_functions.js"></script>

  <link rel="stylesheet" href="../static/css/registration_formular.css">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">

    <!-- Custom Theme -->
    <link rel="stylesheet" type="text/css" href="../static/css/main-web.css">

    <!-- Optional theme -->
    <!--    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">-->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>
</head>

<body class="background">

<!--<img src="../static/img/Burning_Yellow_Sunset.jpg" style="max-height:100%" />-->
<div class="container">
<div class="jumbotron center-text transparent-background" >
<center>
  <h1 class="fontblue">
  	<b>Welcome to Tazdingo</b>
  </h1>
  <h3 class="fontblue">
    Easy to use application for volunteers
  </h3>
  <br>
  </center>


  <div>

  <!-- HTML for SEARCH BAR -->
  <div class="input-group input-group-lg">
  <input type="text" class="form-control" placeholder="Search for your refugee accommandation"aria-label="...">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default" aria-label="Right Align">
      <span class="" aria-hidden="true">Go!</span>
    </button>
  </div>
</div>
</div>
<br>

  <!--
  	schicke request an server mit Namen des noch nicht eingerichteten Flüchtlingsheims
  	und bekomme pdf mit QR- code und URL zum Ausdrucken und Aufhängenzurück
  -->
  <div>
  <center>
    	<h3>Is your refugee accommadation not at the <a href="list.html"> list</a>?</h3>
        <button onclick="window.location.href='registration_formular.html'" class="btn btn-success btn-lg"><b>Register now</b></button>
        </center>
  </div>
  </div>
</body>
</html>