<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Tazdingo - Registration Formular</title>
  <meta name="description" content="Tazdingo">
  <meta name="author" content="TazDingo">
  <script src="../static/js/registration_formular_functions.js"></script>

  <link rel="stylesheet" href="../static/css/registration_formular.css">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">

    <!-- Custom Theme -->
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">

    <!-- Optional theme -->
    <!--    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">-->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/main-web.css">
</head>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body class="background">

<div class="registration_field container">
<div class="jumbotron transparent-background">
      <h2 class="fontblue">Registration Formular</h2>
      <form role="form" name="registration" onsubmit="return formValidation();" action="POST" target="/register"> 
        
          <!-- refugee camp name -->
          <div class="form-group">
          <label class="field" for="refugee_camp_name">
            <span>* </span>Refugee Camp Name:
          </label>
          <input type="text" name="refugee_camp_name" class="form-control"/>
          </div>

          <!-- street number -->
          <div class="form-group">
          <label class="field" for="street_number">
            <span>* </span>Street, Number:
          </label>
          <input type="integer" name="street_number" class="form-control"/>
          </div>
          
          <!-- PLZ / ZIP -->
          <div class="form-group">
          <label class="field" for="zip">
            <span>* </span>ZIP / PLZ:
          </label>
          <input type="integer" name="zip" class="form-control"/>
          </div>
          
          <!-- phone number -->
          <div class="form-group">
          <label class="field" for="phone_number">
            Phone Number:
          </label>
          <input type="integer" name="phone_number" class="form-control"/>
          </div>
          
          <!-- contact person -->
          <div class="form-group">
          <label class="field" for="contact_person">
            <span>* </span>Contact Person:
          </label>
          <input type="integer" name="contact_person" class="form-control"/>
          </div>
          
          <!-- email -->
          <div class="form-group">
          <label class="field" for="email">
            <span>* </span>EMail:
          </label>
          <input type="email" name="email" class="form-control"/>
          </div>
          <p class="required">* Required</p> 
          <input type="submit" name="submit" value="Submit Formular" class="btn btn-primary"  />
          <input type="reset" name="cancel" value="Cancel" class="btn btn-default" style="margin-right: 5px"/>
        </p>
      </form>
  </div>
  </div>
</body>
</html>