{% extends 'base.html.twig' %}

{% block title %}Registrierung{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/static/css/main-web.css">
    <link rel="stylesheet" href="/static/css/registration_formular.css">
{% endblock %}


{% block body %}
    <div class="container">
        <div class="jumbotron transparent-background register-form">

            <!-- temporäre Registrierung per E-Mail -->
            <h2 class="fontblue">Registrierung einer Unterkunft</h2>

            <p>Es freut uns, dass du dich für die Registrierung entschieden hast. Schreib' uns jetzt einfach eine Email an:</p>
            <a class="email" href="mailto:registrieren@inventeerio.de">registrieren@inventeerio.de</a>
            <p>Wir benötigen folgende Daten:</p>
            <ul>
                <li>Name der Unterkunft</li>
                <li>Addresse (Straße, Hausnr., PLZ, Stadt)</li>
                <li>Telefonnummer [optional]</li>
                <li>Kontaktperson (falls abweichend von der Addresse, mit der sie uns schreiben)</li>
            </ul>
            <p>Wir freuen uns auf die Zusammenarbeit!</p>
            <p>Dein Inventeerio-Team</p>
            

            {# <h2 class="fontblue">Registrierungsformular</h2>

            <form role="form" name="registration" onsubmit="return formValidation();" method="POST" action="/register">

                <!-- refugee camp name -->
                <div class="form-group">
                    <label class="field" for="name">
                        <span>* </span>Flüchtlingsunterkunft:
                    </label>
                    <input type="text" id="name" name="name" class="form-control" required/>
                </div>

                <!-- street number -->
                <div class="form-group">
                    <label class="field" for="street_number">
                        <span>* </span>Straße, Hausnummer:
                    </label>
                    <input type="text" id="street_number" name="street_number" class="form-control" required/>
                </div>

                <!-- city -->
                <div class="form-group">
                    <label class="field" for="city">
                        <span>* </span>Stadt:
                    </label>
                    <input type="text" id="city" name="city" class="form-control" required/>
                </div>                

                <!-- PLZ / ZIP -->
                <div class="form-group">
                    <label class="field" for="zip">
                        <span>*</span> PLZ:
                    </label>
                    <input type="text" pattern="\d{5}" id="zip" name="zip" class="form-control" required/>
                </div>

                <!-- phone number -->
                <div class="form-group">
                    <label class="field" for="phone_number">
                        Telefonnummer:
                    </label>
                    <input type="tel" id="phone_number" name="phone_number" class="form-control"/>
                </div>

                <!-- contact person -->
                <div class="form-group">
                    <label class="field" for="contact_person">
                        <span>* </span>Kontaktperson:
                    </label>
                    <input type="text" id="contact_person" name="contact_person" class="form-control" required/>
                </div>

                <!-- email -->
                <div class="form-group">
                    <label class="field" for="email">
                        <span>* </span>Email:
                    </label>
                    <input type="email" id="email" name="email" class="form-control" required/>
                </div>
                
                <p class="required">* erforderlich</p>
                <input type="submit" name="submit" value="Bestätigen" class="btn btn-primary"/>
                <a href="/"><button type="button" class="btn btn-default">Abbrechen</button></a> <!-- send back to homepage -->
              
            </form> #}
        </div>
    </div>
{% endblock %}