{% extends 'base.html.twig' %}

{% block stylesheets %} {# add script to head #}
    {{ parent() }}
    <link rel="stylesheet" href="/static/css/main-web.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron center centered-jumbotron transparent-background">
            <div class="center">
                <h1 class="fontblue">
                    <b>{% block headline %}{% endblock %}</b>
                </h1>
            </div>

            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}